@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

a {
    font-family: 'Saira', sans-serif;
}

.transition-right {
    transition: right 0.5s ease;
    /* Você pode ajustar a duração e a função de temporização conforme necessário */
}

.transition-left {
    transition: left 0.5s ease;
    /* Você pode ajustar a duração e a função de temporização conforme necessário */
}

.sombreado-verde {
    box-shadow: 0px 0px 10px #FF9B59, 0px 0px 10px #FF9B59;
}

.swiper-wrapper {
    margin-bottom: 30px;
}

.background-home {
    background-image: url('/public/img/bacground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-home>div {
    background-color: rgba(15, 15, 15, 0.8)
}

.background-home svg {
    transition: color 1s ease;
}

.text-shadow-sombreado-verde {
    text-decoration: double;
    text-shadow: 0px 0px 20px #FF9B59;
}

.underline-on-hover {
    position: relative;
    display: inline-block;
}

.underline-on-hover::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -7px;
    left: 0;
    background: linear-gradient(270deg, #FF9B59 0%, rgb(23, 22, 29) 100%);
    transform-origin: right bottom;
    transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.underline-on-hover:hover::after {
    transform: scaleX(1);
}

.line {
    height: 3px;
    width: 70vw;
    background-color: #FF9B59;
    /* box-shadow: 0px 0px 4px #FF9B59, 0px 0px 4px #FF9B59 inset; */
    position: absolute;
    bottom: 0;
}


div.swiper-button-prev,
div.swiper-button-next {
    color: #FF9B59;
}

.swiper-pagination-bullet-active {
    background-color: #FF9B59 !important;
}


* {
    --sb-track-color: #0B0B0B;
    --sb-thumb-color: #FF9B59;
    --sb-size: 10px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  *::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  *::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    
    }


@media (min-width: 648px) {
    .line {
        width: 500px;
    }
}
